<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/style.css" />
    <link rel="icon" href="./assets/favicon.svg" />
    <title>Download Server</title>
  </head>
  <body>
    <h1>Available files</h1>
    {{ range .Files }}
    <div>
      <p>{{ .Name }}</p>
      <p>{{ .Size }}</p>
      <p>{{ .ModTime }}</p>
    </div>
    {{ end }}
  </body>
</html>
